@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  /* background-image: url("https://static.wixstatic.com/media/8fa582_cd6f8f7c550c4836888c3396f9268277~mv2.jpg/v1/crop/x_0,y_288,w_1600,h_464/fill/w_980,h_327,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Today%20TT.jpg");  */
  background-image: url("https://images.unsplash.com/photo-1603455778956-d71832eafa4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
}
.rac-colour {
  color: #67162c;
}

/* create a class that changes text colour to blue on hover  */
.hover:hover {
  color: #470819 !important;
  text-decoration: none;
}

.dark-hover:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.branding-hover:hover {
  color: #470819 !important;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 80px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 50px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.uk-navbar-container {
  background: #67162b !important;
  font-family: Staatliches;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.glass-nav {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.glass-nav-mobile {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.blogimg {
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 85%;
  border-width: 1px;
  border-color: #2b2b2b5e;
}

@media (min-width: 768px) {
  .blogimg {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .blogimg {
    max-width: 55%;
  }
}

.animated {
  transition: transform 350ms ease-in-out 100ms, opacity 350ms ease-in-out 100ms;
  --tw-translate-y: -5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0;
}

.shown {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}

.register-img {
  background-image: url("https://images.unsplash.com/photo-1486218119243-13883505764c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
}

.login-img {
  background-image: url("https://images.unsplash.com/photo-1551927336-09d50efd69cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
}

.resetpassword-img {
  background-image: url("https://images.unsplash.com/photo-1594911772125-07fc7a2d8d9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.forgot-password-img {
  background-image: url("https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
}

.hero-img {
  background-image: url("https://cdn.sanity.io/images/yavqngwf/production/0da4e8c76f625ad78280a2283caf4a4f9582d33b-5472x3648.jpg?fp-x=0.5&fp-y=0.5&w=5000&fit=max&auto=format");
}

.smallhero-height {
  height: 30rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* use a media query to center abackground image on mobile */

@media (max-width: 768) {
  .register-img {
    background-position: center;
  }

  .login-img {
    background-position: center;
  }

  .resetpassword-img {
    background-position: center;
  }

  .forgot-password-img {
    background-position: center;
  }
  .hero-img {
    background-position: center;
    background-attachment: fixed;
    background-image: url("https://cdn.sanity.io/images/yavqngwf/production/0da4e8c76f625ad78280a2283caf4a4f9582d33b-5472x3648.jpg?fp-x=0.5&fp-y=0.5&w=5000&fit=max&auto=format") !important;
  }
}

.radio-label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 10px;
  background-color: #ddd;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  background-color: #67162c;
  color: white;
}
